<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="../../images/icon.png" type="image/x-icon" />
    <title>Library</title>
  </head>
  <body>
    <h1>Add Book To Library</h1>
    <hr class="hr" />
    <br />
    <form onsubmit="submitForm(event)">
      <h2>Name :</h2>
      <input
        id="name"
        type="text"
        name="name"
        placeholder="Name ..."
        required="required"
      />
      <h2>Author :</h2>
      <input
        id="author"
        type="text"
        name="author"
        placeholder="Author ..."
        required="required"
      />
      <h2>Category :</h2>
      <input
        id="category"
        type="text"
        name="category"
        placeholder="Category ..."
        required="required"
      />
      <h2>Price :</h2>
      <input
        id="price"
        type="number"
        name="price"
        placeholder="Price ..."
        required="required"
      />
      <h2>ISBN :</h2>
      <input
        id="isbn"
        type="text"
        name="ISBN"
        placeholder="ISBN ..."
        required="required"
      />
      <br /><br />
      <input type="submit" />
    </form>
    <script>
      async function submitForm(event) {
        event.preventDefault();

        const name = document.getElementById("name").value;
        const author = document.getElementById("author").value;
        const category = document.getElementById("category").value;
        const price = document.getElementById("price").value;
        const isbn = document.getElementById("isbn").value;

        const rawResponse = await fetch("http://localhost:3000/addBook/", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name,
            author,
            category,
            price,
            isbn,
            key: localStorage.getItem("key"),
          }),
        });
        if (rawResponse.status !== 200) {
          alert("Failed to adding book !");
          return;
        }
      }
    </script>
  </body>
</html>
