extends layout

block content
  h1= title
  p Welcome to my site

  a(href="./signUp")
   button(type="button") Sign up
  br
  br
  a(href="./login") 
   button(type="button") Login
  br
  br
  a(href="./profile") 
   button(type="button") Profile 
