<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="../../images/icon.png" type="image/x-icon" />
    <title>Library</title>
  </head>
  <body>
    <h1>SignUp to library !</h1>
    <hr class="hr" />
    <br />
    <form onsubmit="submitForm(event)">
      <h2>Name :</h2>
      <input
        id="name"
        type="text"
        name="name"
        placeholder="Name ..."
        required="required"
      />
      <h2>Family :</h2>
      <input
        id="family"
        type="text"
        name="family"
        placeholder="Family ..."
        required="required"
      />
      <h2>Username :</h2>
      <input
        id="username"
        type="text"
        name="username"
        placeholder="Username ..."
        required="required"
      />
      <h2>Email :</h2>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Email ..."
        required="required"
      />
      <h2>Password :</h2>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Password ..."
        required="required"
      /><br /><br />
      <input
        type="password"
        placeholder="Confirm Password"
        id="confirm_password"
        required
      />
      <br /><br />
      <input type="submit" />
    </form>
    <script src="../javascripts/swal.js"></script>
    <script>
      async function submitForm(event) {
        event.preventDefault();
        const name = document.getElementById("name").value;
        const family = document.getElementById("family").value;
        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const rawResponse = await fetch("http://localhost:3000/auth/signup/", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name, family, username, email, password }),
        });
        if (rawResponse.status === 409) {
          console.log("Error in form submitForm");
          swal({
            icon: "error",
            title: "Duplicate username !",
            text: "This username already exists",
          });
        } else if (rawResponse.status !== 200) {
          console.log("Error in signup !");
          return;
        } else {
          const key = await rawResponse.text();
          localStorage.setItem("token", key);
          swal("Please verify your email!", "Success signup!", "success").then(
            function () {
              window.location = "/auth/signup";
            }
          );
          console.log(rawResponse.status);
        }
      }
    </script>
    <script>
      var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

      function validatePassword() {
        if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity("");
        }
      }

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>
  </body>
</html>
