extends layout

block content
    h1= "SignUp to library !"
    hr(class="hr")
    br
    form(action="/auth/signup" method="POST")
        h2 Name :
        input(type="text" name="name" placeholder="Name ..." required)
        h2 Family : 
        input(type="text" name="family" placeholder="Family ..." required)
        h2 Username : 
        input(type="text" name="username" placeholder="Username ..." required)
        h2 Email : 
        input(type="email" name="email" placeholder="Email ..." required)
        h2 Password : 
        input(type="password" name="password" placeholder="Password ..." required)
        br
        br
        input(type="submit")