<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="../../images/icon.png" type="image/x-icon" />
    <title>Library</title>
  </head>
  <body>
    <script>
      async function submitVerify(event) {
        event.preventDefault();
        const rawResponse = await fetch(
          "http://localhost:3000/auth/signup/verify/",
          {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
          }
        );
        if (rawResponse.status !== 200) {
          swal({
            icon: "error",
            title: "Incurrent code !",
            text: "Try again",
            className: "swal-wide",
          });
          return;
        }
        swal("Good job!", "Success login", "success").then(function () {
          window.location = "/";
        });
      }
    </script>
  </body>
</html>
