body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00b7ff; */
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;  
  background-color: #a29bfe;
  transition: 1s;
}
input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

label,
select {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

option {
  padding: 10px;
  height: 5%;
  width: 100%;
  border: #2d60cc solid 2px;
}

input[type="submit"] {
  width: 100%;
  background-color: #5f7ed1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 5px solid blue;
}

input[type="submit"]:hover {
  background-color: #2d60cc;
}

#loginForm {
  padding: 20px;
  border: solid blue 5px;
  border-radius: 20px;
  background-color: #6ecbf0;
}

button[type="button"] {
  width: 10%;
  background-color: #5f7ed1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 5px solid blue;
  font-size: larger;
}

.demo {
  padding: 10px;
  border: #2d60cc solid 3px;
  border-radius: 10px;
}

.book {
  border: black solid 4px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;
}

img {
  height: 200px;
  width: 160px;
}

.rentBtn {
  height: 40px;
  width: 100%;
  border: black solid 3px;
  border-radius: 5px;
  background-color: #00b7ff;
}

.hr {
  border-top: 3px solid blue;
}

.swal-wide {
  text-align: center;
  width: fit-content;
  padding: 20px;
  border: solid rgb(251, 107, 107) 3px;
  color: black;
  margin: auto;
}
.swal-wide button {
  background-color: #00b7ff;
}
/* Button Style */
/* @import url("https://fonts.googleapis.com/css?family=Lato:400,700"); */

.container {
  width: auto;
  margin: auto;
}

@keyframes topAnimation {
  from {
    transform: translate(0rem, 0);
  }
  to {
    transform: translate(0rem, 3.5rem);
  }
}

@keyframes bottomAnimation {
  from {
    transform: translate(-11.5rem, 0);
  }
  to {
    transform: translate(0rem, 0);
  }
}

button.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  position: relative;
  letter-spacing: 0.15em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #111;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  cursor: pointer;
}

button.btn::after,
button.btn::before {
  border: 0;
  content: "";
  position: absolute;
  height: 40%;
  width: 10%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  border-radius: 50%;
}

button.btn::before {
  border: 0;
  background-color: #c92918;
  top: -0.75rem;
  left: 0.5rem;
  animation: topAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s
    infinite alternate;
}

button.btn::after {
  background-color: #e74c3c;
  top: 3rem;
  left: 13rem;
  animation: bottomAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s
    infinite alternate;
}

button.btn:hover {
  color: white;
}

button.btn:hover::before,
button.btn:hover::after {
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  animation: none;
}

button.btn:hover::after {
  left: 0rem;
}

button.btn:hover::before {
  top: 0.5rem;
  left: 0.35rem;
}
/* Button Style */

ul {
  border: 4px solid black;
  padding: 0 20 0 20;
  border-radius: 10px;
  list-style-type: none;
  height: fit-content;
  width: fit-content;
  background-color: rgb(191, 246, 227);
}
li h1 {
  color: #2d60cc;
}
li #get {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

li #imageBox {
  margin-top: 10px;
}

li #bookImage {
  border: solid black 2px;
  border-radius: 10px;
  height: 50%;
  /* width: 50%; */
  /* height: min-content; */
}